<li class="card-list__item card-item">
    <p class="card-item__text">Сохраненный url:</p>
    <p class="card-item__url">{{{url}}}</p>
    <p class="card-item__title"><u>Title:</u> {{title}}</p>
    <p class="card-item__description"><u>Description</u>:<br>{{description}}</p>
    <img src="{{image}}" alt="logo img" class="card-item__img">
    <button class="delete-btn">Удалить</button>
</li>