body {
    padding: 0;
    font-family: 'Playfair Display', 'Arial', serif;
}

.header {
    padding-top: 70px;
    padding-bottom: 8px;
}

.menu {
    margin: auto;
    padding: 0;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 572px;
    font-size: 0;
}

.menu__item {
    display: inline-block;
    margin-right: 106px;
}

.menu__item:nth-of-type(4) {
    margin-right: 0;
}

.menu__link {
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    color: #7d7d7d;
    text-transform: uppercase;
}

.menu__link:hover {
    color: #03a9f4;
}

.wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
}

.container {
    margin: auto;
    padding-bottom: 132px;
    width: 900px;
    font-size: 0;
}

.container:nth-of-type(3){
    padding-bottom: 52px;
}

.section {
    display: inline-block;
    width: 420px;
}

.left {
    margin-right: 60px;
}

.section__sign {
    margin-top: 28px;
    margin-bottom: 18px;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #beb8ab;
    text-transform: uppercase;
}

.section__img {
    width: 420px;
    height: 280px;
}

.section__header {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    color: #626262;
}

.section__content {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.button-load {
    display: block;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 162px;
    background-color: #ffffff;
    border: 1px solid #626262;
    font-size: 20px;
    line-height: 24px;
    color: #626262;
}

.button-load:hover {
    color: #03a9f4;
}