body {
    font-family: 'Montserrat';
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 100px;
}

.logo {
    font-family: 'Swanky and Moo Moo', sans-serif;
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
    text-decoration: none;
    color: #fed136;
}

.menu {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 490px;
    list-style: none;
}

.menu__item:hover .menu__link {
    color: #fed443;
}

.menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    color: #222222;
}

.container {
    text-align: center;
    padding-bottom: 124px;
}

.container:last-child {
    padding-top: 102px;
    background-color: #222222;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.inner-wrapper {
    width: 940px;
    margin: 0 auto;
}

.header {
    margin: 0 0 14px 0;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #222222;
}

.fix {
    margin: 0 0 8px 0;
    color: #ffffff;
}

.content {
    font-family: 'DroidSerif';
    font-size: 16px;
    color: #777777;
}

.container__content {
    margin: 0;
    margin-bottom: 78px;
}

.inner-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.inner-item {
    width: 29.787%;
}

.border-round {
    margin: 0 auto 20px auto;
    border: 4px solid #fed136;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    background-repeat: no-repeat;
    background-position: center;
}

.build-icon {
    background-image: url(../img/icons/1.png);
}

.laptop-icon {
    background-image: url(../img/icons/2.png);
}

.lock-icon {
    background-image: url(../img/icons/3.png);
}

.sign-header {
    font-weight: 700;
    font-size: 18px;
    color: #222222;
}

.inner-item__header {
    margin: 0 0 15px 0;
}

.sign-content {
    font-family: 'Roboto Slab';
    font-size: 14px;
    line-height: 18px;
    color: #777777;
}

.inner-item__content {
    margin: 0;
}

.form {
    width: 940px;
}

.container__form {
    margin: 0 auto;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.input-box {
    width: 456px;
}

.input-box input:not(:last-child) {
    margin-bottom: 28px;
}

.textarea {
    box-sizing: border-box;
    width: 456px;
    height: 210px;
    padding: 20px;
    resize: none;
}

.input {
    box-sizing: border-box;
    width: 456px;
    padding: 15px 20px;
}

.required:valid {
    outline: 2px solid rgb(74, 230, 74);
}

.required:invalid {
    outline: 2px solid rgb(212, 35, 35);
}

.input::placeholder, .textarea::-webkit-input-placeholder {
    font-weight: 700;
    font-size: 14px;
    color: #bbbbbb;
    text-transform: uppercase;
}

.submit-button {
    border: none;
    padding: 22px 0;
    width: 240px;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fed136;
    cursor: pointer;
}

/* swanky-and-moo-moo-regular - latin */
@font-face {
    font-family: 'Swanky and Moo Moo';
    font-style: normal;
    font-weight: 400;
    src: local('Swanky and Moo Moo'), local('SwankyandMooMoo'),
         url('../fonts/swanky-and-moo-moo-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/swanky-and-moo-moo-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* droidserif-400 - italic */
@font-face {
    font-family: 'DroidSerif';
    font-style: italic;
    font-weight: 700;
    src: local('DroidSerif Italic'), local('DroidSerif-Italic'),
         url('../fonts/DroidSerif-Italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}