.comment-area {
    box-sizing: border-box;
    width: 280px;
}

.comment-form {
    margin: 0 auto 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.comment-form__textarea {
    resize: none;
}

.comment-form__btn {
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: #4e473d;
    color: #eeeceb;
}

.comment-form__btn:hover {
    background-color: #eeeceb;
    color: #4e473d;
}

.comment-form__select {
    padding: 4px;
}