.filter {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin: 0 auto 20px;
}

.filter__input {
    width: 150px;
    font-size: 20px;
}