.form {
    font-size: 20px;
    margin: 0 auto 30px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.form__input {
    padding: 4px;
}

.form__btn {
    border: none;
    background-color: #1a1616;
    color: #daf8f8;
    padding: 4px;
    cursor: pointer;
}

.form__btn:hover {
    background-color: #daf8f8;
    color: #1a1616;
}