ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.form, .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    width: 600px;
    margin: 0 auto 40px;
}

.form__label, .modal-form__label {
    font-size: 20px;
}

.form__input, .modal-form__input {
    padding: 5px;
    width: 280px;
}

.modal-form__input {
    outline: 1px solid #5c4d4d;
}

.form__btn, .modal-form__btn {
    font-size: 18px;
    border: 1px solid #5c4d4d;
    background-color: #ebe4e4;
    padding: 8px;
}

.form__btn:hover, .modal-form__btn:hover {
    background-color: #635c5c;
    color: #ebe4e4;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}

.card-item {
    position: relative;
    box-sizing: border-box;
    padding: 15px 15px 68px;
    margin-bottom: 30px;
    width: 262.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 18px;
    box-shadow: 3px 3px 10px #5c4d4d;
}

.card-item:not(:nth-child(4n)) {
    margin-right: 50px;
}

.card-item__text, .card-item__url, .card-item__title, .card-item__description {
    margin-bottom: 20px;
}

.card-item__text {
    position: relative;
}

.card-item__text::after {
    position: absolute;
    left: 0; 
    top: 120%;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #5c4d4d;
}

.delete-btn, .edit-btn {
    position: absolute;
    bottom: 15px;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px 10px;
}

.delete-btn {
    left: 12px;
    color: #faefef;
    background-color: #e27973;
}

.delete-btn:hover {
    color: #e27973;
    background-color: #faefef;
}

.edit-btn {
    left: 105px;
    color: #443c3c;
    background-color: #d1effd;
}

.edit-btn:hover {
    color: #d1effd;
    background-color: #443c3c;
}

.d-none {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: rgba(179, 167, 167, 0.3);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-form {
    width: 400px;
    padding: 80px 0;
    min-height: 180px;
    background-color: #ffffff;
    border: 1px solid #443c3c;
}