body {
    font-family: 'Montserrat', sans-serif;
}

.page-header {
    box-sizing: border-box;
    min-height: 540px;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    padding-top: 20px;
}

.log-list {
    width: 154px;
    display: flex;
    justify-content: space-between;
}

.log-btn {
    border: none;
    padding: 7px 0;
    background-color: transparent;
    font-size: 14px;
    color: #ffffff;
}

.sign-btn {
    padding: 7px 20px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.header {
    width: 260px;
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.main-header {
    width: 300px;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
}

.main-header__page-header {
    margin: 0 auto 16px auto;
}

.content {
    width: 218px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}

.content__page-header {
    margin: 0 auto 14px auto;
}

.find-btn {
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 50px;
    background-color: #ff4e50;
}

.mod-container {
    padding: 66px 0 56px 0;
}

.header__container {
    margin: 0 auto 18px auto;
}

.black {
    text-transform: none;
    color: #333333;
}

.partner-list {
    margin: 0 auto;
    width: 220px;
}

.partner-item {
    position: relative;
}

.partner-item__img {
    display: block;
    margin: 0 auto 14px auto;
    width: 120px;
    height: 120px;
}

.icon::before {
    content: '';
    position: absolute;
    right: 34px;
    top: 84px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.tv::before {
    background-color: #ff4e50;
    background-image: url(../img/icons/1.png);
}

.lock::before {
    background-color: #ffa507;
    background-image: url(../img/icons/2.png);
}

.coffee::before {
    background-color: #1cd7ad;
    background-image: url(../img/icons/3.png);
}

.plane::before {
    background-color: #4e73db;
    background-image: url(../img/icons/4.png);
}

.sign-header {
    font-size: 14px;
    color: #333333;
}

.sign-header__partner-list {
    margin: 0 0 12px 0;
}

.sign-content {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
}

.show-btn {
    padding: 8px 72px;
    font-size: 14px;
    font-weight: 700;
    color: #ff4e50;
    border: 2px solid  #ff4e50;
    border-radius: 20px;
    background-color: transparent;
}

@media screen and (max-width: 767px) {
    .header__page-header {
        margin: 0 auto 32px auto;
    }

    .log-list__page-header {
        margin: 0 auto 114px auto;
    }

    .partner-item {
        margin-bottom: 36px;
    }
}


@media screen and (min-width: 768px) {
    .page-header {
        min-height: 700px;
        background-image: url(../img/11.jpg);
    }

    .overlay {
        padding-top: 42px;
        background-color: rgba(26, 25, 21, 0.248);
        min-height: 700px;
    }  
    
    .main-header {
        width: 504px;
        font-size: 52px;
    }

    .main-header__page-header {
        margin-bottom: 24px;
    }

    .mgb-md-144 {
        margin-bottom: 144px;
    }

    .content {
        width: 414px;
        font-size: 24px;
    }

    .content__page-header {
        margin-bottom: 34px;
    }

    .find-btn {
        padding: 10px 34px;
    }

    .header__container {
        margin-bottom: 36px;
    }

    .black {
        width: auto;
        font-size: 22px;
    }

    .partner-list {
        margin-bottom: 14px;
        width: 484px;
    }

    .partner-item {
        min-height: 244px;
    }

    .show-btn {
        padding: 10px 26px;
    }

    .log-list__page-header {
        margin: 0 42px 0 auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .partner-list {
        min-height: 516px;
    }

    .mgb-32 [class*="col-"]:nth-child(2n + 1) {
        margin-bottom: 16px;
    }
}


@media screen and (min-width: 992px) {
    .page-header {
        background-image: url(../img/111.jpg);
    }

    .partner-list {
        width: 942px;
    }

    .find-btn {
        padding: 10px 22px;
    }
}