$main-width: 1200px;
$block-center: 0 auto;
$Montserrat-family: 'Montserrat', sans-serif;
$Kaushan-family: 'Kaushan Script', cursive;
$Roboto-family: 'Roboto', sans-serif;

$font-sizes: (
    small: 14px,
    x-small: 15px,
    middle: 24px,
    large: 30px,
    very-large: 72px,
    extra-large: 150px
);

$line-heights: (
    small: 1,
    middle: 24px,
    large: 36px
);